%table.table
  %thead
    %tr
      %th= NodePing.human_attribute_name(:created_at)
      %th= NodePing.human_attribute_name(:result)
      %th Succeed/Total (%)
  %tbody
    - pings.each do |ping|
      %tr{style: "#{'color: red;' if !ping.result}"}
        %td= l(ping.created_at)
        %td= ping.result ? 'Pass' : 'Failed'
        %td
          - if ping.total_attempts.to_i.positive?
            = "#{ping.successful_attempts}/#{ping.total_attempts}"
            = "(#{(ping.successful_attempts.to_f / ping.total_attempts.to_f * 100).to_i}%)"
          - else
            N/A

