<h1>Nodes</h1>
<p>
  <%= link_to new_node_path, class: 'btn btn-success', role: 'button' do %>
    <i class="fa fa-plus" aria-hidden="true"></i> New Node
  <% end %>
</p>
<% if @nodes.present? %>
  <table class="table">
    <thead>
      <tr>
        <th><%= Node.human_attribute_name(:id) %></th>
        <th><%= Node.human_attribute_name(:title) %></th>
        <th><%= Node.human_attribute_name(:ip) %></th>
        <th><%= Node.human_attribute_name(:check) %></th>
        <th>Last result</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @nodes.each do |node| %>
        <tr>
          <td>
            <%= link_to node.id, node_path(node) %>
          </td>
          <td>
            <%= link_to node.title, node_path(node) %>
          </td>
          <td>
            <%= node.ip %>
          </td>
          <td>
            <%= node.check ? 'Yes' : 'No' %>
          </td>
          <td>
              <%= node.node_pings.first&.result ? 'Passed' : 'Failed' %>
          </td>
          <td>
            <%= link_to 'Open', node_path(node), class: 'btn btn-primary btn-sm', role: 'button' %>
            <%= link_to 'Ping', ping_node_path(node), class: 'btn btn-primary btn-sm', role: 'button' %>
            <%= link_to 'Edit', edit_node_path(node), class: 'btn btn-primary btn-sm', role: 'button' %>
            <%= link_to 'Destroy', node_path(node), class: 'btn btn-danger btn-sm', role: 'button', method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="text-center">
    The list of nodes is empty
  </p>
<% end %>
