<h1>Nodes</h1>
<p>
  <%= link_to new_node_path, class: 'btn btn-success', role: 'button' do %>
    <i class="fa fa-plus" aria-hidden="true"></i> New Node
  <% end %>
</p>
<table class="table">
  <thead>
    <tr>
      <th><%= Node.human_attribute_name(:id) %></th>
      <th><%= Node.human_attribute_name(:title) %></th>
      <th><%= Node.human_attribute_name(:ip) %></th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @nodes.each do |node| %>
      <tr>
        <td>
          <%= link_to node.id, node_path(node) %>
        </td>
        <td>
          <%= link_to node.title, node_path(node) %>
        </td>
        <td>
          <%= node.ip %>
        </td>
        <td>
          <%= link_to 'Ping', ping_node_path(node), class: 'btn btn-primary btn-sm', role: 'button' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
