<h1><%= @node.title %></h1>

<% if @node.description.present? %>
  <p><%= @node.description %></p>
<% end %>

<p>
  <%= link_to 'Home', root_path %>
</p>

<p>
  <%= link_to 'Edit', edit_node_path(@node), class: 'btn btn-primary btn-sm', role: 'button' %>
</p>

<p>
  <%= link_to 'Ping', ping_node_path(@node), class: 'btn btn-primary btn-sm', role: 'button' %>
</p>

<%= paginate @pings %>

<%= render partial: 'table', locals: { pings: @pings } %>

<%= paginate @pings %>
