%h1= @node.title
- if @node.description.present?
  %p= @node.description
%p
  = link_to 'Home', root_path
%p
  = link_to 'Edit', edit_node_path(@node), class: 'btn btn-primary btn-sm', role: 'button'
%p
  = link_to 'Ping', ping_node_path(@node), class: 'btn btn-primary btn-sm', role: 'button'
%p
  - if params[:failed].present?
    = link_to 'Show all pings', node_path(@node), class: 'btn btn-primary btn-sm', role: 'button'
  - else
    = link_to 'Show only failed', node_path(@node, failed: 1), class: 'btn btn-primary btn-sm', role: 'button'
= paginate @pings
= render partial: 'table', locals: { pings: @pings }
= paginate @pings
