<!DOCTYPE html>
<html>
  <head>
    <title>Pinger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container" id="main">
      <% if user_signed_in? %>
        <div class="row">
          <div class="col-md text-right">
            <p>
              <%= current_user.email %>
              <%= link_to 'Log_out', destroy_user_session_path, method: :delete %>
            </p>
          </div>
        </div>
      <% end %>
      <% if notice || alert %>
        <div class="row">
          <div class="col-md">
            <% if notice %>
              <div class="alert alert-primary" role="alert">
                <%= notice %>
              </div>
            <% end %>
            <% if alert %>
              <div class="alert alert-danger" role="alert">
                <%= alert %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md">
          <%= yield %>
        </div>
      </div>
    </div> 
  </body>
</html>
